@font-face {
    font-family: 'KCC Dodamdodam';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/KCCDodamdodam/KCCDodamdodam.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KCCDodamdodam/KCCDodamdodam.ttf') format('truetype');
}
